@model oiat.saferinternetbot.web.Models.AnswerListViewModel
@{
    ViewBag.Title = "Den Bot testen";
}
@Html.Partial("_Headline")
<div class="row">
    <div class="col-12">
        <iframe style="width: 100%; height:600px" src='https://webchat.botframework.com/embed/saferinternetbot?s=McWbYI6rFkk.cwA.HDg.IKL5XL-HltUw1_4TTX3LvbnxcaMkbqMWpSAf46y_K-A'></iframe>
    </div>
</div>
